<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        {% block body %}
         <form method="post">
             <input type="submit" name="submit" value="respondent.789"/>
             <input type="submit" name="submit" value="respondent.123"/>
             <input type="submit" name="submit" value="internal.456"/>
             <input type="submit" name="submit" value="internal.012"/>
         </form>
        {% endblock %}
    </body>
</html>