<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Show Message</title>
    </head>
    <body>
    <ul class="message">
        <li> Message ID: {{ message['msg_id'] }}</li>
        <li> To: {{ message['urn_to'] }}</li>
        <li> From: {{ message['urn_from'] }}</li>
        <li> Subject: {{ message['subject'] }}</li>
        <li> Body: {{ message['body'] }}</li>
        <li> Thread ID: {{ message['thread_id'] }}</li>
        <li> Collection Case: {{ message['collection_case'] }}</li>
        <li> Reporting Unit: {{ message['reporting_unit'] }}</li>
        <li> Survey: {{ message['survey']}}</li>
    </ul>
    </body>
</html>