<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All Messages</title>
    </head>
    <body>
    {% extends "secure-messaging/layout.html" %}
    {% block body %}
    User: {{ user_urn }}
        <h1>List of Messages</h1>

    <table style="width:100%; text-align: center;">
        <tr>
            <th>Mailbox</th>
            <th>Message ID</th>
            <th>To</th>
            <th>From</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Date</th>
            <th>Thread ID</th>
            <th>Read Status</th>
        </tr>
        {% for message in messages %}
        <tr>
            <td>{% if 'DRAFT' in message['labels'] %}
                DRAFT
                {% elif 'SENT' in message['labels'] %}
                SENT
                {% elif 'INBOX' in message['labels'] %}
                INBOX
                {% endif %}
            </td>
            <td>{% if 'DRAFT' in message['labels'] %}
                <a href="{{ 'http://localhost:5000/draft/%s'%message['msg_id']}}">{{ message['msg_id']|truncate(10) }}</a>
                {% else %}
                <a href="{{ 'http://localhost:5000/message/%s'%message['msg_id']}}">{{ message['msg_id']|truncate(10) }}</a>
                {% endif %}
            </td>
            <td>{% for to in message['urn_to'] %}
                 {{ to }}
                 {% endfor %}</td>
            <td>{{ message['urn_from'] }}</td>
            <td>{{ message['subject'] }}</td>
            <td>{{ message['body']|truncate(10) }}</td>
            <td>{% if 'SENT' in message['labels'] or 'INBOX' in message['labels'] %}
                    {{ message['sent_date'] }}
                 {% elif 'DRAFT' in message['labels'] %}
                    {{ message['modified_date'] }}
                {% endif %}
            </td>

            <td>{{ message['thread_id'] }}</td>
            <td>{% if 'INBOX' in message['labels'] %}
                    {% if 'UNREAD' in message['labels'] %}
                         <a href="{{ 'http://localhost:5000/message/%s/edit?label=READ'%message['msg_id']}}">UNREAD</a>
                    {% else %}
                         <a href="{{ 'http://localhost:5000/message/%s/edit?label=UNREAD'%message['msg_id']}}">READ</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr><em>You have no messages </em></tr>
        {% endfor %}
    </table>
    {% if links['prev'] is defined %}
        <form action="/messages" method="post">
            <button name="submit" type="submit" value="{{ links['prev']['href'] }}">Previously</button>
        </form>
    {% endif %}
    {% if links['next'] is defined %}
        <form action="/messages" method="post">
            <button name="submit" type="submit" value="{{ links['next']['href'] }}">Next</button>
        </form>
    {% endif %}
    {% endblock %}
    </body>
</html>