<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Show Message</title>
    </head>
    <body>
    {% extends "secure-messaging/layout.html" %}
    {% block body %}
    User: {{ user_urn }}
        <ul class="message">
            <li> Message ID: {{ message['msg_id'] }}</li>
            <li> To: {{ message['urn_to'] }}</li>
            <li> From: {{ message['urn_from'] }}</li>
            <li> Subject: {{ message['subject'] }}</li>
            <li> Body: {{ message['body'] }}</li>
            <li> Thread ID: {{ message['thread_id'] }}</li>
            <li> Collection Case: {{ message['collection_case'] }}</li>
            <li> Reporting Unit: {{ message['reporting_unit'] }}</li>
            <li> Survey: {{ message['survey']}}</li>
        </ul>
    <form action="http://localhost:5000/messages">
        <input type="submit" value="Back to Messages">
    </form>
        {% if 'INBOX' in message['labels'] %}
            <form action="{{ '/new-message/%s'%message['thread_id'] }}">
                <input type="submit" value="Reply">
            </form>
        {% endif %}
    {% endblock %}
    </body>
</html>