<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All Messages</title>
    </head>
    <body>
    {% extends "secure-messaging/layout.html" %}
    {% block body %}
    User: {{ user_urn }}
        <h1>List of Messages</h1>

    <table style="width:100%; text-align: center;">
        <tr>
            <th>id</th>
            <th>Mailbox</th>
            <th>Message ID</th>
            <th>To</th>
            <th>From</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Date</th>
            <th>Read Status</th>
        </tr>
        {% for message in messages|sort %}
        <tr>
            <td>{{ message }}</td>
            <td>{% if 'DRAFT' in messages[message]['labels'] %}
                DRAFT
                {% elif 'SENT' in messages[message]['labels'] %}
                SENT
                {% elif 'INBOX' in messages[message]['labels'] %}
                INBOX
                {% endif %}
            </td>
            <td>{% if 'DRAFT' in messages[message]['labels'] %}
                <a href="{{ 'http://localhost:5000/draft/%s'%messages[message]['msg_id']}}">{{ messages[message]['msg_id'] }}</a>
                {% else %}
                <a href="{{ 'http://localhost:5000/message/%s'%messages[message]['msg_id']}}">{{ messages[message]['msg_id'] }}</a>
                {% endif %}
            </td>
            <td>{% for to in messages[message]['urn_to'] %}
                 {{ to }}
                 {% endfor %}</td>
            <td>{{ messages[message]['urn_from'] }}</td>
            <td>{{ messages[message]['subject'] }}</td>
            <td>{{ messages[message]['body']|truncate(10) }}</td>
            <td>{{ messages[message]['sent_date'] }}</td>
            <td>{% if 'INBOX' in messages[message]['labels'] %}
                    {% if 'UNREAD' in messages[message]['labels'] %}
                         <a href="{{ 'http://localhost:5000/message/%s/edit?label=READ'%messages[message]['msg_id']}}">UNREAD</a>
                    {% else %}
                         <a href="{{ 'http://localhost:5000/message/%s/edit?label=UNREAD'%messages[message]['msg_id']}}">READ</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr><em>You have no messages </em></tr>
        {% endfor %}
    </table>
    {% if links['prev'] is defined %}
        <form action="/messages" method="post">
            <button name="submit" type="submit" value="{{ links['prev']['href'] }}">Previously</button>
        </form>
    {% endif %}
    {% if links['next'] is defined %}
        <form action="/messages" method="post">
            <button name="submit" type="submit" value="{{ links['next']['href'] }}">Next</button>
        </form>
    {% endif %}
    {% endblock %}
    </body>
</html>