<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Message</title>
    </head>

    <body>
        </br>
        </br>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message[1] }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% from "secure-messaging/_formhelpers.html" import render_field %}

        <div style="padding-left:300px">
            <form method=post>
                <dl>
                    {{ render_field(form.to_input) }}
                    {{ render_field(form.subject_input) }}
                    {{ render_field(form.message_input) }}
                </dl>
                <button id=submit>Send</button>
            </form>
        </div>
    </body>
</html>