<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Draft</title>
    </head>
    <body>
        {% from "secure-messaging/_formhelpers.html" import render_field %}
        <div>
            <form method=post>
                <dl>
                    {{ render_field(form.urn_to) }}
                    {{ render_field(form.subject) }}
                    {{ render_field(form.body) }}
                </dl>
                <button id=submit>Save</button>
            </form>
        </div>
    </body>
</html>