<html>
<head>
    <title>Messaging</title>
</head>

<body>
    <h1> ONS HEADER HERE</h1>
    <form method="POST">
        <form>
            From: <input id="name" type="text" name="from">
            <br>
            <br> To: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="to">
            <br>
            <br> Compose:
            <br>
            <textarea onkeyup="remainingChars()" name="msg" rows="8" cols="60"></textarea>
            </br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="submit" type="submit" value="Send">
        </form>

</body>

</html>
